<!DOCTYPE html>
<html>
	<head>
		<title>Express</title>
		<style type="text/css">
			h1{
				color: <%= color %>;
			}
		</style>
	</head>
	<body>
		<h1>EXPRESS!</h1>
		<h3>Hello, <%= name %></h3>
		<ul>
			<% for (var i = 0; i < numbers.length; i++) { %>
				<li><%= numbers[i] %></li>
			<% } %>
		</ul>
	</body>
</html>